* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#actionButtons {
    margin: 25px 25%;
    display: flex;
    justify-content: center;
    gap: 10%
}

h1 {
    margin-top: 20px;
    text-align: center;
}

.pHead {
    text-align: center;
}

button {
    background-color: azure;
    font-size: 2em;
    min-width: 100px;
    padding: 20px;
}

.results {
    margin-top: 40px;
    text-align: center;
}

#counter, #end {
    margin-top: 20px;
}

.inactive {
    display: none;
}

#endText {
    font-size: 20px;
    font-weight: bolder;
}